---
layout: page
title: Projects
permalink: /projects/
---
{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tag_words = site_tags | split:',' | sort %}

<!-- begin tags -->
<section class="tags">

    <div class="tags__inner">
    
      <div class="container">
        <div class="row">
          <div class="col col-12">
            <div class="tag__info">
              <div class="tag__info-box">
                <div class="tag__counter">
                  <span>{{ site.tags["project"].size }}</span>
                  <small>{% if site.tags[page.tag].size < 2 %}Post{% else %}Posts{% endif %}</small>
                </div>portfolio
                <h2 class="tag__name" id="{{ cgi_escape }}">{{ "project" }}</h2>
              </div>
              <a class="top__link" href="#top">Return to top</a>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col col-12">
            <div class="row">
            {% for post in site.tags["project"] %}
              {% if post.title != null %}
                {% include article.html %}
              {% endif %}
            {% endfor %}
            </div>
          </div>
        </div>
      </div>

    </div>

</section>
<!-- end tags -->