$theme: (
  themeColor: #333333,
  primaryDark: #141414,
  accentDark: #4fa7ff,
  lightGray: #b8b8b8,
  texts: #e2e8f0,
  postBackground: #15171b,
  postContentBackground: #282c34,
  timeColor: #94a3b8,
  postSubtitle: #94a3b8,
  postInfo: #94a3b8,
  boxBackground: #141414,
  boxShadow: rgba(0, 0, 0, 0.06),
  boxShadowHover: rgba(59, 130, 246, 0.15),
  boxBorder: #141414
);